html, body {
  height: 100%;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background: url(images/backg1.jpg) no-repeat center center/cover; 

}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 4rem;
  color: #f26b72;
  font-weight: bolder;
}

.board {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
}

.board div {
  color: #3AC7A3;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #F26B72 dotted;
  border-radius: 10%;
  background-color: #F3F2EB;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: #909BA8;
}

div.mine, div.mine:hover {
  background: no-repeat center/70% url("images/bomb.svg") #F26B72;
  
}

div.hidden {
  background: #EDCBBC;
}

div.hidden:hover {
  background: #3AC7A3;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}
