html,
body {
  height: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  background: url(images/backg1.jpg) no-repeat center;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

button {
  color: #3ac7a3;
  background-color: #EDE1A7;
  font-size: 1.5rem;
  padding 0.5rem;
  font-family: "Montserrat Alternates";
  border: 2px #f26b72 dotted;
  border-radius: 10%;
  font-weight: bold;
}

#reset:hover {
  cursor: pointer;
  background-color: #edcbbc;
}

#message,
#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 4rem;
  color: #f26b72;
  font-weight: bolder;
}

.board {
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
  padding-top: 2rem;
}

.board div {
  color: #3ac7a3;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 2px #f26b72 dotted;
  border-radius: 10%;
  background-color: #f3f2eb;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: #909ba8;
}

div.mine,
div.mine:hover {
  background: no-repeat center/70% url("images/bomb.svg") #f26b72;
}

div.hidden {
  background: #edcbbc;
}

div.hidden:hover {
  background: #3ac7a3;
}

div.marked,
div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") deepskyblue;
}
